<!DOCTYPE html>
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0")
    meta(http-equiv="X-UA-Compatible", content="ie=edge")
    title MecaShop
    link(rel="stylesheet", href="/public/vendors/bootstrap/css/bootstrap.min.css")
    link(rel="stylesheet", href="/style/global.css")
    link(rel="icon" type="image/png" href="images/Index.png")
    block extra_css
    body(style="background-color:dimgray")
      form.js-form.col-10.offset-1.col-sm-8.offset-sm-2.col-md-6.offset-md-3.col-lg-4.offset-lg-4.col-lx-4.offset-lx-4(style="text-align : center;margin-top:100px; display:none;")
        .form-group.card
          h1 Iniciar Sesi칩n
          .row
            .col-12.col-sm-12.col-md-12.col-lg-12
              label
                strong Usuario:
              input.js-user-value.form-control.col-6.offset-3(type="text", style="text-align:center;" id="txtUser")
              label
                strong Contrase침a:
              input.js-pass-value.form-control.col-6.offset-3(type="password", style="text-align:center;" id="txtPass")
              button.btn.btn-primary.btn-block.mt-3.col-4.offset-4(type="button", style="margin-bottom:15px;" id="btnLogin") Iniciar
              .form-group
                label
                  strong No tienes una cuenta? 
                    a(href="./registro") Registrate Ahora!
        
      script(src="/public/vendors/jquery/jquery-3.4.1.min.js")
      script(src="/public/vendors/bootstrap/js/bootstrap.min.js")
      script(src="/public/vendors/sweetalert2/dist/sweetalert2.all.min.js")
      
      
      
      //Aqui es el tema del login
      script.
        $(document).ready(function(){
          delete_cookie();
          $(".js-form").fadeIn(1000);

          $("#btnLogin").click(function(){
            $.ajax({
              data: {
                user: $("#txtUser").val(),
                pass: $("#txtPass").val(),
              },
              method: 'POST',
              url: './logines',
              success: function(datos){
                console.log(datos.logines);
                console.log(datos.logines.length);

                if (datos.logines.length > 0) {
                  if (datos.logines[0].estatus === 1){
                    setLogin(datos.logines[0].id,
                            datos.logines[0].usuario,
                            datos.logines[0].ruc,
                            datos.logines[0].nombre,
                            datos.logines[0].email,
                            datos.logines[0].typeAcc);

                    window.location.href = ".";
                  } else {
                    Swal.fire(
                      'Vaya! parece que ha sido dado de baja',
                      'Si piensa que esto ha sido una equivocaci칩n, puede comunicarse con los administradores.',
                      'error'
                    );
                  }

                } else {
                  Swal.fire(
                    'Usuario o contrase침a invalido',
                    'Reintentar',
                    'warning'
                  );
                }
              }
            });
          });
        });

        function setLogin(_id, _usuario, _ruc, _nombre, _email, _typeAcc) {
          var d = new Date();
          d.setTime(d.getTime() + (60*24*60*60*1000));
          var expires = "expires="+ d.toUTCString();
          document.cookie = "id ="+_id+";" + expires + ";path=/";
          document.cookie = "usuario ="+_usuario+";" + expires + ";path=/";
          document.cookie = "ruc ="+_ruc+";" + expires + ";path=/";
          document.cookie = "nombre ="+_nombre+";" + expires + ";path=/";
          document.cookie = "email ="+_email+";" + expires + ";path=/";
          document.cookie = "typeAcc ="+_typeAcc+";" + expires + ";path=/";
        }

        function delete_cookie() {
          document.cookie = 'id = ; expires=Thu, 01 Jan 1970 00:00:01 GMT;';
          document.cookie = 'usuario = ; expires=Thu, 01 Jan 1970 00:00:01 GMT;';
          document.cookie = 'ruc = ; expires=Thu, 01 Jan 1970 00:00:01 GMT;';
          document.cookie = 'nombre = ; expires=Thu, 01 Jan 1970 00:00:01 GMT;';
          document.cookie = 'email = ; expires=Thu, 01 Jan 1970 00:00:01 GMT;';
          document.cookie = 'typeAcc = ; expires=Thu, 01 Jan 1970 00:00:01 GMT;';
        }