extends base.pug

block content
  form.js-form.col-12.col(style="text-align : center;margin-top:60px;")
    .form-group.card
      h1 Mantenimiento de Usuarios
  .row
    .col-8.col-sm-10.offset-sm-1.col-md-3.col-lg-3.ml-2
      input#userToFind.form-control.ml-2(type='search', placeholder='Buscar...', aria-label='Search')
    .col-2.col-sm-10.offset-sm-1.col-md-3.col-lg-3.ml-4
      button#btnBuscarUser.btn.btn-success(type='submit') Buscar
  .row.mt-3(id="js_mant_user")

block extra_js
  script.
    $(document).ready(function(){
      //alert('Se ejecuta bien');
      //$("#js_ofertas").empty();
        
        $.ajax({
        data: {
        },
        url: './list_user',
        method: 'POST',
        
        success: function(datos){
          console.log(datos.user);
          console.log(datos.user.length);
          var i = 0;
          $("#js_mant_user").hide();
          while (i < datos.user.length){
            console.log(datos.user[i]);

            $("#js_mant_user").append(
              `<div class="card col-12 col-sm-12 col-md-6 col-lg-6" style="position:static;">
                <div class="row">
                  <div class="col-2">
                    <img class="img-card-css" src="images/${datos.user[i].usuario}.png" onerror="this.src='images/defaultuser.jpg'" style='margin-top:10px;'>
                  </div>
                  <div class="col-10">
                    <h3 class="title-css">${datos.user[i].nombre}</h3>
                    <div class="row">
                    <h5 class="col-4" style="text-align:left; font-size:15px;">Usuario:</h5><h5 style="text-align:left; font-size:15px;" class="col-8">${datos.user[i].usuario}</h5>
                    <h5 class="col-4" style="text-align:left; font-size:15px;">Email:</h5><h5 style="text-align:left; font-size:15px;" class="col-8">${datos.user[i].email}</h5>
                    <h5 class="col-4" style="text-align:left; font-size:15px;">Ident:</h5><h5 style="text-align:left; font-size:15px;" class="col-8">${datos.user[i].ruc}</h5>
                    <h5 class="col-4" style="text-align:left; font-size:15px;">Tipo de cuenta:</h5><h5 style="text-align:left; font-size:15px;" class="col-8">${tipoCuenta(datos.user[i].typeAcc)}</h5>
                    <h5 class="col-4" style="text-align:left; font-size:15px;">No. Usuario:</h5><h5 style="text-align:left; font-size:15px;" class="col-8">${datos.user[i].id}</h5>
                    <h5 class="col-4" style="text-align:left; font-size:15px;">Estatus:</h5><h5 style="text-align:left; font-size:15px;" class="col-8">${estatusACC(datos.user[i].estatus)}</h5>
                  </div>
                  <div class="row" onmouseover="$(this).css('opacity','1.0');" onmouseleave="$(this).css('opacity','0.5');" style="height: 50px; opacity:0.5">
                    <div class="col-4">
                      <div class="btn btn-secondary btn-block" style="width:100%;" onclick="editUser('${datos.user[i].id}','${datos.user[i].nombre}')">Editar</div>
                    </div>
                    <div class="col-5">
                      <div class="btn btn-danger btn-block" style="width:100%;" onclick="downUser('${datos.user[i].id}','${datos.user[i].nombre}')">Dar de baja</div>
                    </div>
                  </div>
                  <br>
                </div>
              </div>`
            );
            i++;
          }
          $("#js_mant_user").fadeIn(500);
        }
      });

    });
    function editUser(ID,NAME) {
      alert(`Editar usuario ${ID}?`);
    }

    function downUser(ID,NAME){

      const swalWithBootstrapButtons = Swal.mixin({
        customClass: {
          confirmButton: 'btn btn-success',
          cancelButton: 'btn btn-danger'
        },
        buttonsStyling: false,
      })

      swalWithBootstrapButtons.fire({
        title: `Dar de baja a ${NAME}?`,
        text: 'Se anulara el inicio de sesion de este usuario.',
        type: 'warning',
        showCancelButton: true,
        confirmButtonText: 'Confirmar',
        cancelButtonText: 'Cancelar',
        reverseButtons: true
      }).then((result) => {
        if (result.value) {
          swalWithBootstrapButtons.fire(
            'Deleted!',
            'Your file has been deleted.',
            'success'
          )
          

        } else if (
          // Read more about handling dismissals
          result.dismiss === Swal.DismissReason.cancel
        ) {
          swalWithBootstrapButtons.fire(
            'Cancelled',
            'Your imaginary file is safe :)',
            'error'
          )
        }
      })
    }

    $('#btnBuscarUser').click(function(){
      //alert($('#userToFind').val());
      $.ajax({
        data: {
          clave: $("#userToFind").val(),
        },
        method: 'POST',
        url: './findUser',
        success: function(datos){
          console.log(datos.findUser);
          console.log(datos.findUser.length);

          if (datos.findUser.length > 0) {
            console.log(datos.findUser[0]);
          } else {
            Swal.fire(
              'No se encontraron resultados',
              'Intenta buscar a alguien más',
              'warning'
            );
          }
        }
      });
    });