extends base.pug

block content
  .toast.jam(aria-hidden='true')
    span.close(aria-role='button', tabindex='0') ×
    |   Lightly toasted with jam.

  #capa.capaNone(onclick='closeNav()')
  form.js-form.col-12.col(style="text-align : center;margin-top:60px;")
    .form-group.card
      h1 Mantenimiento de Trabajos
  .row
    .col-12.col-lg-6
      .row
        .col-8.col-lg-6.ml-2
          input#userToFind.form-control(type='text', placeholder='Buscar...', autocomplete='off')
        .col-2.col-lg-2
          button#btnBuscarUser.btn.btn-success(type='submit') Buscar
    .col-12.col-lg-6
      .row.mt-2.mt-lg-0
        .col-8.col-lg-6.ml-2
          select#cbxCategory.form-control
        .col-2.col-lg-2
          button#btnNewWork.btn.btn-success(type='submit') Nuevo
  
  .row.mt-3(id="js_mant_trabajo")

  #mySidenav.sidenav(style='width:0px;')
    a.closebtn(href='javascript:void(0)', onclick='closeNav()') ×
    
    .form-group.ml-3.mr-3.text-white.js-form-slide
      h3.col-12.col-centered#lblEdit Editar datos
      
      .row
        .col-4.col-sm-4.col-md-2.col-lg-1.mt-3
          label(style='font-size:20px;') Titulo:
        .col-8.col-sm-8.col-md-4.col-lg-3.mt-3
          input.js-user-value.form-control(type="text", style="text-align:center;" id="edTitle")

        .col-4.col-sm-4.col-md-2.col-lg-1.mt-3
          label(style='font-size:20px;') Descripción:
        .col-8.col-sm-8.col-md-4.col-lg-3.mt-3
          input.js-pass-value.form-control(type="text", style="text-align:center;" id="edDescr")
          
      .row.mt-5    
        button.btn.btn-success.btn-block.mt-3.col-4.offset-4(type="button", style="margin-bottom:15px;" id="btnGuardarEd") Guardar
        input#idHidden(type='hidden' value="")

block extra_js
  script.
    $(document).ready(function(){
      $('#js_mant_trabajo').hide();

      $.ajax({
        data: {
        },
        url: './services',
        method: 'POST',
        success: function(datos){
          var i = 0;
          while (i < datos.service.length){
            $("#cbxCategory").append(new Option(datos.service[i].title, datos.service[i].id));
            i++;
          }
        }

      })


      $.ajax({
        data:{
          idCat : '0',
        },
        url: './list-trabajo',
        method : 'POST',
        success:function(datos){
          //console.log(datos);
          var i = 0;
          while (i < datos.work.length) {
            $("#js_mant_trabajo").append(
              `<div class="col-12 col-sm-12 col-md-6 col-lg-4">
                <div class="menu-item-css" style="background-image:url(images/service/default.jpg); background-color:#343A40;">
                  <div class="row">
                      <div class="col-8 offset-2 mt-2 mb-2 card" style="height:150px;">
                        <h4 class="title-css">${datos.work[i].title}</h4>
                        <h5>${datos.work[i].descr}</h5>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-4 offset-4"><button class="btn btn-danger" onclick="viewServices('${datos.work[i]._id}')">Editar</button></div>
                    </div>
                  </div>
                </div>`
            );
            i++;
          }
          $('#js_mant_trabajo').fadeIn(500);
        }
      })

    });

    $('#btnBuscarUser').click(function(){
      $('#js_mant_trabajo').hide();
      $('#js_mant_trabajo').empty();
      $.ajax({
        data: {
          clave: $("#userToFind").val(),
        },
        method: 'POST',
        url: './findTask',
        success: function(datos){
          var i = 0;
          while (i < datos.findTask.length) {
            $("#js_mant_trabajo").append(
              `<div class="col-12 col-sm-12 col-md-6 col-lg-4">
                <div class="menu-item-css" style="background-image:url(images/service/default.jpg); background-color:#343A40;">
                  <div class="row" onclick="viewServices('${datos.findTask[i].id}')">
                      <div class="col-8 offset-2 mt-2 mb-2 card" style="height:150px;">
                        <h4 class="title-css">${datos.findTask[i].title}</h4>
                        <h5>${datos.findTask[i].descr}</h5>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-4 offset-4"><button class="btn btn-danger" onclick="viewServices('${datos.findTask[i]._id}')">Editar</button></div>
                    </div>
                  </div>
                </div>`
            );
            i++;
          }
          $('#js_mant_trabajo').fadeIn(500);
        }
      })
    })

    $('#cbxCategory').on('change',function(){
      $("#js_mant_trabajo").empty();
      $("#js_mant_trabajo").hide();
      $.ajax({
        data:{
          idCat : $(this).val(),
        },
        url: './list-trabajo',
        method : 'POST',
        success:function(datos){
          //console.log(datos);
          var i = 0;
          while (i < datos.work.length) {
            $("#js_mant_trabajo").append(
              `<div class="col-12 col-sm-12 col-md-6 col-lg-4">
                <div class="menu-item-css" style="background-image:url(images/service/default.jpg); background-color:#343A40;">
                  <div class="row" onclick="viewServices('${datos.work[i].id}')">
                      <div class="col-8 offset-2 mt-2 mb-2 card" style="height:150px;">
                        <h4 class="title-css">${datos.work[i].title}</h4>
                        <h5>${datos.work[i].descr}</h5>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-4 offset-4"><button class="btn btn-danger" onclick="viewServices('${datos.work[i]._id}')">Editar</button></div>
                    </div>
                  </div>
                </div>`
            );
            i++;
          }
          $('#js_mant_trabajo').fadeIn(500);
        }
      })
    })


    function viewServices(IDSERV){
      $.ajax({
        data: {
          clave: IDSERV,
        },
        method: 'POST',
        url: './findTaskById',
        success: function(datos){
          console.log(datos.findUser)
          $('#lblEdit').html(`Editar datos de <br>${datos.findTask.title}`)
          $('#edTitle').val(`${datos.findTask.title}`)
          $('#edDescr').val(`${datos.findTask.descr}`)
          $('#idHidden').val(`${datos.findTask._id}`)
        }
        
      });

      openNav();
    }

    $('#btnGuardarEd').click(function(){
      $.ajax({
        data: {
          clave: $('#idHidden').val(),
          title: $('#edTitle').val(),
          descr: $('#edDescr').val(),
        },
        method: 'POST',
        url: './UpdateTaskByID',
        success: function(datos){
          Swal.fire({
            position: 'top',
            type: 'success',
            title: 'Usuario modificado con exito',
            showConfirmButton: false,
            timer: 1500
          })
          closeNav();

          $("#js_mant_trabajo").empty();
          $("#js_mant_trabajo").hide();
          $.ajax({
            data:{
              idCat : $('#cbxCategory').val(),
            },
            url: './list-trabajo',
            method : 'POST',
            success:function(datos){
              //console.log(datos);
              var i = 0;
              while (i < datos.work.length) {
                $("#js_mant_trabajo").append(
                  `<div class="col-12 col-sm-12 col-md-6 col-lg-4">
                    <div class="menu-item-css" style="background-image:url(images/service/default.jpg); background-color:#343A40;">
                      <div class="row" onclick="viewServices('${datos.work[i].id}')">
                          <div class="col-8 offset-2 mt-2 mb-2 card" style="height:150px;">
                            <h4 class="title-css">${datos.work[i].title}</h4>
                            <h5>${datos.work[i].descr}</h5>
                          </div>
                        </div>
                        <div class="row">
                          <div class="col-4 offset-4"><button class="btn btn-danger" onclick="viewServices('${datos.work[i]._id}')">Editar</button></div>
                        </div>
                      </div>
                    </div>`
                );
                i++;
              }
              $('#js_mant_trabajo').fadeIn(500);
            }
          })
          
        }
        
      });
    })

    function openNav() {
      if (document.getElementById("mySidenav").style.width == "0px"){
        $('.js-form-slide').hide();
        $('#capa').fadeIn('slow');
        document.getElementById("capa").className = "capaBlock";
        document.getElementById("mySidenav").style.width = `90%`;
        $('.js-form-slide').fadeIn(1000);
      } else {
        $('.js-form-slide').fadeOut(100);
        $('#capa').fadeOut('slow');
        document.getElementById("capa").className = "capaNone";
        document.getElementById("mySidenav").style.width = "0px";
      }
          
    }

    function closeNav() {
      $('.js-form-slide').fadeOut(100);
      $('#capa').fadeOut('slow');
      document.getElementById("capa").className = "capaNone";
      document.getElementById("mySidenav").style.width = "0px";
    }

    $('#btnNewWork').click(function(){
      var myJson = '';
      var i = 0;
      var jParse;

      $.ajax({
        data: {
        },
        url: './services',
        method: 'POST',
        
        success: function(datos){
          while (i < datos.service.length){
            myJson = myJson + ',"' + datos.service[i].id + '":"' + datos.service[i].title+'"';
            i++;
          }

          myJson = myJson.substring(1, 999);

          myJson = '{'+myJson+'}';
          console.log(myJson)
        }

      }).then((value)=>{
        jParse = JSON.parse(myJson);
        Swal.mixin({
          input: 'select',
          inputOptions: jParse,
          confirmButtonText: 'Siguiente &rarr;',
          progressSteps: ['1', '2', '3']
        }).queue([
          {
            title: 'Selecciona un servicio',
          },
          { 
            title: 'Titulo del trabajo',
            input: 'text',
          },
          { 
            title: 'Coloca una descripción para este trabajo',
            input: 'text',
          }
        ]).then((result) => {
          if (result.value) {
            $.ajax({
              data: {
                idCat : result.value[0],
                title : result.value[1],
                descr : result.value[2],
              },
              url: './newWork',
              method: 'POST',

              success:function(datos){
                Swal.fire({
                  title: 'Trabajo creado',
                  confirmButtonText: 'OK!'
                });
              }
            })
          }
        })
      });
    })