extends base.pug

block content
  #capa.capaNone(onclick='closeNav()')
  div(style='height:100px;')
  .row(id="js_ofertas")
    .col-lg-4
      .row
        .col-10.offset-1
          img.img-card-css#porfileIMG(onerror="this.src='images/defaultuser.jpg'" style="width:100%;")
          h1#porfileUSER(style="text-align:center;")
      .row
        
    .col-lg-8.mt-4.mb-5.card
      .row.mt-lg-5
        p.col-lg-2.col-3.mt-1.pl-4.text-muted Nombre:
        p#porfileNAME.col-lg-4.col-9.form-contro.mt-1.pl-1
        p.col-lg-2.col-3.mt-1.pl-4.text-muted Ident:
        p#porfileIDEN.col-lg-4.col-9.form-contro.mt-1.pl-1
      .row.mt-lg-5
        p.col-lg-2.col-3.mt-1.pl-4.text-muted Email:
        p#porfileEMAI.col-lg-4.col-9.form-contro.mt-1.pl-1
      
      .row.mt-lg-5
        button.btn.btn-success.btn-block.col-lg-4.offset-lg-4.col-4.offset-4(
          type="button", style="margin-bottom:15px;" id="btnEdit") Editar Información
  
  .row#socio-serv
    .col-12.col-lg-6.card.pb-3
      .row
        .col-12
          h5.ml-3 Busca un servicio para agregar
        .col-8.col-lg-6.ml-2
          input#userToFind.form-control(type='text', placeholder='Buscar...', autocomplete='off')
        .col-2.col-lg-2
          button#btnBuscarUser.btn.btn-success(type='submit') Buscar
        .container.mt-3(id="js_mant_trabajo")

    .col-12.col-lg-6.card.pb-3
      .row.mt-2.mt-lg-0
        .col-12
          h5.ml-3 Trabajos que realizas actualmente
        .col-8.col-lg-6.ml-2.mr-2
          select#cbxCategory.form-control(onchange="alert('yeyo')")
        
        .container.mt-3(id="js_mine_work")
      

  #mySidenav.sidenav(style='width:0px;')
    a.closebtn(href='javascript:void(0)', onclick='closeNav()') ×
    
    .form-group.ml-3.mr-3.text-white.js-form-slide
      h3.col-12.col-centered#lblEdit Editar datos
      
      .row
        .col-4.col-sm-4.col-md-2.col-lg-1.mt-3
          label(style='font-size:20px;') Nombre:
        .col-8.col-sm-8.col-md-4.col-lg-3.mt-3
          input.js-user-value.form-control(type="text", style="text-align:center;" id="edNombre")

        .col-4.col-sm-4.col-md-2.col-lg-1.mt-3
          label(style='font-size:20px;') Email:
        .col-8.col-sm-8.col-md-4.col-lg-3.mt-3
          input.js-pass-value.form-control(type="text", style="text-align:center;" id="edEmail")

        .col-4.col-sm-4.col-md-2.col-lg-1.mt-3
          label(style='font-size:20px;') Ident:
        .col-8.col-sm-8.col-md-4.col-lg-3.mt-3
          input.js-pass-value.form-control(type="text", style="text-align:center;" id="edRuc")
          
      .row.mt-5    
        button.btn.btn-success.btn-block.mt-3.col-4.offset-4(type="button", style="margin-bottom:15px;" id="btnGuardarEd") Guardar
        input#idHidden(type='hidden' value="")

block extra_js
  script.
    $(document).ready(function(){
      if (getCookie("typeAcc")==='0'){
        $('#socio-serv').hide();
      }

      $('#js_ofertas').hide();
      
      $('#porfileIMG').attr('src','images/'+getCookie("usuario")+'.png');
      $('#porfileUSER').html(getCookie("usuario"));

      $('#porfileNAME').html(getCookie("nombre"));
      $('#porfileIDEN').html(getCookie("ruc"));
      $('#porfileEMAI').html(getCookie("email"));

      $('#js_ofertas').fadeIn(500);

      $.ajax({
        data: {
        },
        url: './services',
        method: 'POST',
        success: function(datos){
          var i = 0;
          while (i < datos.service.length){
            $("#cbxCategory").append(new Option(datos.service[i].title, datos.service[i].id));
            //myJson = myJson + ',"' + datos.service[i].id + '":"' + datos.service[i].title+'"';
            i++;
          }
        }

      })
    })


    $('#btnBuscarUser').click(function(){
      $('#js_mant_trabajo').hide();
      $('#js_mant_trabajo').empty();
      $.ajax({
        data: {
          clave: $("#userToFind").val(),
        },
        method: 'POST',
        url: './findTask',
        success: function(datos){
          var i = 0;
          var colorx;
          while (i < datos.findTask.length) {
            if (i % 2 === 0){
              colorx = '#F0F0F0';
            }else{
              colorx = '#FDFDFD'
            }

            $("#js_mant_trabajo").append(
              `<div class="row" style="background-color:${colorx}">
                <div class="col-10">
                  <h5>${datos.findTask[i].title}</h5>
                  <p>${datos.findTask[i].descr}</p>
                </div>
                <div class=col-1>
                  <image class="mt-3" src="images/btn/add.png" style="width:100%" onclick="addWork('${datos.findTask[i].id}')">
                </div>
              </div>`
            );
            i++;
          }
          $('#js_mant_trabajo').fadeIn(500);
        }
      })
    })


    function addWork(idServ){
      Swal.fire({
      title: 'Coloca un precio a este servicio',
      input: 'number',
      showCancelButton: true,
      confirmButtonText: 'Confirmar',
      showLoaderOnConfirm: true,
      preConfirm: (precio) => {
        $.ajax({
          data: {
            idUser : getCookie("id"),
            idServ : idServ,
            price  : precio,
          },
          url: './addWorkToUser',
          method: 'POST',
          success: function(datos){
            Swal.fire({
              position: 'top',
              type: 'success',
              title: 'Trabajo agregado',
              showConfirmButton: false,
              timer: 1500
            })
          }
        })
      },
      allowOutsideClick: () => !Swal.isLoading()
    }).then((result) => {
      if (result.value) {
        Swal.fire({
          title: `${result.value.login}'s avatar`,
          imageUrl: result.value.avatar_url
        })
      }
    })
    }


    $('#btnCangePic').click(function(){
      $('#fileupload').trigger("click");
    });

    $('#btnEdit').click(function(){
      openNav();
      $('#edNombre').val(getCookie("nombre"));
      $('#edEmail').val(getCookie("email"));
      $('#edRuc').val(getCookie("ruc"));
      $('#idHidden').val(getCookie("reID"));
    })

    $('#btnGuardarEd').click(function(){
      $.ajax({
        data: {
          clave: $('#idHidden').val(),
          nombre: $('#edNombre').val(),
          email: $('#edEmail').val(),
          ruc: $('#edRuc').val(),
          typeAcc: getCookie("typeAcc"),
          estatus: '1',
        },
        method: 'POST',
        url: './UpdateUserByID',
        success: function(datos){
          Swal.fire({
            position: 'top',
            type: 'success',
            title: 'Datos modificado con exito',
            showConfirmButton: false,
            timer: 1500
          }).then((value)=>{
              window.location.href = "./login";
            });
        }       
      });
    })


    function openNav() {
      if (document.getElementById("mySidenav").style.width == "0px"){
        $('.js-form-slide').hide();
        $('#capa').fadeIn('slow');
        document.getElementById("capa").className = "capaBlock";
        document.getElementById("mySidenav").style.width = `90%`;
        $('.js-form-slide').fadeIn(1000);
      } else {
        $('.js-form-slide').fadeOut(100);
        $('#capa').fadeOut('slow');
        document.getElementById("capa").className = "capaNone";
        document.getElementById("mySidenav").style.width = "0px";
      }
          
    }

    function closeNav() {
      $('.js-form-slide').fadeOut(100);
      $('#capa').fadeOut('slow');
      document.getElementById("capa").className = "capaNone";
      document.getElementById("mySidenav").style.width = "0px";
    }